.pad {
  margin-top: -100px;
}
.info-title {
  margin-left: 10px;
}
.information-container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
}


.info-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.spanValue,
.spanValue2,
.spanValue3,
.spanValue4,
.spanValue5,
.spanValue8 {
  margin: 10px 0;
  margin-top: 15px;
  
}

.info-item.info-columns.boxes.new1 {
  background-color: #323b4c;
  color: white;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-left: 100px;
  margin-top: -30px;
}

.info-item.info-columns.box.new {
  background-color: #323b4c;
  color: white;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-left: 100px;
  margin-top: -50px;
}

.info-item.info-columns.boxes {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.info-item.info-columns.boxes p,
.info-item.info-columns.box p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.spanCenter,
.spanCenter1 {
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.button-group.items-a,
.button-group.items-b,
.button-group.items,
.button-group.items2 {
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.spanTex {
  font-size: 25px;
}

.info-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px; /* Adjust gap between groups */
}

.info-column {
  flex: 1;
}

.info-item {
  background-color: transparent;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 10px;
  max-height: 50px;
  width: 300px; /* Ensure consistent width */
  margin-bottom: 10px;
}

.info-item p {
  margin: 0;
}

.info-link {
  color: #007bff;
  text-decoration: none;
}

.info-data {
  margin-left: 5px;
}

.metamask-logo {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.column-left {
  align-self: flex-start;
}

.column-center {
  align-self: center;
}

.column-right {
  align-items: flex-start;
}

/* Add media query for mobile responsiveness */
@media (max-width: 768px) {
  .information-container {
    margin-top: 0;
  }

  .info-content {
    flex-direction: column;
    align-items: center;
  }

  .info-column {
    width: 100%;
  }
}
